stages:
  - test

# Include template pipelines for testing.
include:
  - project: "embassy/cicd-templates"
    ref: "main"
    file:
      - "test/golang.yml"
    inputs:
      golang-version: "1.24"
  - project: "embassy/cicd-templates"
    ref: "main"
    file:
      - "test/golang-sast.yml"
    #  - "test/code-quality.yml"
  - project: "embassy/cicd-templates"
    ref: "main"
    file:
      - "test/gosec.yml"